@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-regular.eot');
  src: local('Roboto Regular'), local('Roboto-Regular'),
  url('../assets/fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/roboto-regular.woff') format('woff'),
  url('../assets/fonts/roboto-regular.woff2') format('woff2'),
  url('../assets/fonts/roboto-regular.ttf') format('truetype'),
  url('../assets/fonts/roboto-regular.svg#roboto-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-italic.eot');
  src: local('Roboto Italic'), local('Roboto-Italic'),
  url('../assets/fonts/roboto-italic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/roboto-italic.woff') format('woff'),
  url('../assets/fonts/roboto-italic.woff2') format('woff2'),
  url('../assets/fonts/roboto-italic.ttf') format('truetype'),
  url('../assets/fonts/roboto-italic.svg#roboto-italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../assets/fonts/roboto-medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/roboto-medium.woff') format('woff'),
  url('../assets/fonts/roboto-medium.woff2') format('woff2'),
  url('../assets/fonts/roboto-medium.ttf') format('truetype'),
  url('../assets/fonts/roboto-medium.svg#roboto-medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-medium-italic.eot');
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
  url('../assets/fonts/roboto-medium-italic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/roboto-medium-italic.woff') format('woff'),
  url('../assets/fonts/roboto-medium-italic.woff2') format('woff2'),
  url('../assets/fonts/roboto-medium-italic.ttf') format('truetype'),
  url('../assets/fonts/roboto-medium-italic.svg#roboto-medium-italic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../assets/fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/roboto-bold.woff') format('woff'),
  url('../assets/fonts/roboto-bold.woff2') format('woff2'),
  url('../assets/fonts/roboto-bold.ttf') format('truetype'),
  url('../assets/fonts/roboto-bold.svg#roboto-bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-bold-italic.eot');
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
  url('../assets/fonts/roboto-bold-italic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/roboto-bold-italic.woff') format('woff'),
  url('../assets/fonts/roboto-bold-italic.woff2') format('woff2'),
  url('../assets/fonts/roboto-bold-italic.ttf') format('truetype'),
  url('../assets/fonts/roboto-bold-italic.svg#roboto-bold-italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

/*.main-header {*/
/*border: 1px solid white;*/
/*}*/

/*.main-navigation {*/
/*border: 2px dashed red;*/
/*}*/

/*.site-navigation {*/
/*border: 2px solid yellow;*/
/*}*/

/*.user-navigation {*/
/*border: 2px solid blue;*/
/*}*/

/*.modal-feedback-content{*/
/*border: 1px solid red;*/
/*}*/

/*.form-submenu {*/
/*border: 1px solid blue;*/
/*}*/

body {
  background-color: #849d8f;

  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;

  margin: 0;
  padding: 0;
}

h2 {
  font-size: 35px;
  line-height: 41px;
}

a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a:hover, a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
  cursor: pointer;
}

.btn {
  color: #ffffff;
  background-image: linear-gradient(to bottom, rgb(242, 104, 67), rgb(202, 56, 36));
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);

  display: inline-block;
  vertical-align: center;
}

.btn:hover {
  background-image: linear-gradient(to bottom, rgb(242, 104, 67), rgb(231, 74, 53));
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.004);
  color: #fefefe;
}

.btn:active {
  background-image: linear-gradient(to bottom, #d74531, #e1613e);
  box-shadow: inset 0 2px 2px 0 #942718;
  color: #fceeec;
}

.btn-normal {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  border-radius: 24px;
  padding: 12px 22px;
}

.btn-attract-attention {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;

  border-radius: 32px;
  padding: 8px 38px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.site-navigation, .user-navigation, .breadcrumbs, .advantages-list, .footer-navigation, .catalog-list, .footer-social ul,
.site-navigation-submenu, .user-navigation-search, .user-navigation-login, .user-navigation-basket {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header-logo, .main-header-logo:hover,
.main-footer .logo-htmlacademy, .main-footer .logo-htmlacademy:hover,
.btn, .btn:hover {
  border: none;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.main-navigation {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}

.site-navigation {
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.site-navigation > li {
  margin-left: 25px;
}

.site-navigation a {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.user-navigation {
  margin-left: auto;
  flex-shrink: 0;
  width: 262px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header-contacts .time {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.header-contacts .phone {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

.header-contacts {
  text-align: right;

  position: absolute;
  top: 50px;
  right: 0;
}

.breadcrumbs a {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.slider {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.filters, .filters select {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filters .title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.offer-item h3 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.offer-item p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.offer-item h2 {
  margin: 0;
}

.offer-raspberry {
  background: #849d8f url('../img/raspberry-bg.png') no-repeat center center;
}

.offer-chocolate {
  background: #849d8f url('../img/chocolate-bg.png') no-repeat center center;
}

.offer-raspberry, .offer-chocolate {
  padding: 20px;
  border: none;
  border-radius: 15px;
  background-size: cover;
}

.catalog-item .price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;

  word-spacing: -5px;
}

.catalog-item .measure-unit-kg {
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
}

.catalog-item .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.catalog-item {
  position: relative
}

.hits .catalog-item:before {
  content: '';
  position: absolute;
  background-image: url('../img/hit.png');
  background-repeat: no-repeat;
  background-position: center center;

  top: 0;
  left: 0;

  width: 61px;
  height: 61px;
}

.advantages {
  color: #323232;
}

.advantages .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.advantage-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.news, .mailing {
  color: #5a5a5a;
}

.news h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.news a {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #353535;
  border-bottom: 2px solid #353535;

  background-color: rgba(255, 255, 255, 0.8);
}

.mailing p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.mailing .btn, .contacts .btn {
  color: #fefefe;
}

.contacts-info {
  background-color: #849d8f;
  background: url('../img/pin.png') no-repeat 265px 140px,
  url('../img/map.png') no-repeat 50% 50%;
  width: 1200px;
  height: 430px;

  position: relative;
}

.contacts {
  color: #323232;

  background-color: #ffffff;
  padding: 30px 25px;
  border-radius: 15px;

  position: absolute;
  top: 63px;
  right: 59px;
}

.contacts .address-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.contacts .address-value {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contacts .phone-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.contacts .phone-value {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.contacts .phone-time {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

.footer-navigation a {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.footer-navigation .heart {
  font-weight: bold;
}

.footer-copyright, .footer-copyright a {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

/*
  НА СКРЫТЫХ СЛОЯХ МАКЕТА
*/

.dialog {
  background-color: #f8f7f4;
  color: #323232;
  padding: 19px 24px;
  border: none;
  border-radius: 10px;
}

.dialog a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.dialog a:hover, .dialog a:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
  cursor: pointer;
}

.dialog input {
  box-sizing: border-box;
  width: 267px;
  height: 44px;
  padding: 14px;
  margin: 0 0 20px 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
  outline: none;
}

.dialog input:hover {
  padding: 13px;
  border: 2px solid #c7c6c5;
}

.dialog input:focus {
  padding: 13px;
  border: 2px solid #8fbdec;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #999999;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999999;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999999;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999999;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #999999;
}

::placeholder { /* Most modern browsers support this now. */
  color: #999999;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-feedback-content {
  margin: 0 auto;
  width: 477px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.modal-feedback-content .btn-close-modal {
  margin-left: auto;
}

.modal-feedback-content form {
  width: 477px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.modal-feedback-content textarea {
  width: 477px;
}

.form-submenu {
  display: flex;
  flex-direction: column;
}

/* Выпадающие меню в шапке */

.main-navigation li {
  position: relative;
}

.main-navigation li:hover .submenu {
  display: block;
}

.main-navigation .submenu {
  display: none;
  position: absolute;
  z-index: 1;
}

.site-navigation-submenu {
  width: 142px;
}

.user-navigation-search {
  width: 340px;
  top: 20px;
  left: -308px;
}

.user-navigation-login {
  width: 277px;
  top: 20px;
  left: -240px;
}

.user-navigation-basket {
  width: 540px;
  top: 20px;
  left: -490px;
}

.user-navigation-basket table {
  caption-side: bottom;
}

.user-navigation-basket .basket-total {
  text-align: right;
  border-top: 1px solid black;
}

.opened .submenu {
  display: block;
}

/* Товар в каталоге при наведении */

.catalog-item .quick-view {
  display: none;
}

.catalog-item:hover .quick-view {
  display: block;
}

/*
  UTILS
*/
.visually-hidden { /* https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden */
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
