@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-regular.eot');
  src: local('Roboto Regular'), local('Roboto-Regular'),
  url('../assets/fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/roboto-regular.woff') format('woff'),
  url('../assets/fonts/roboto-regular.woff2') format('woff2'),
  url('../assets/fonts/roboto-regular.ttf') format('truetype'),
  url('../assets/fonts/roboto-regular.svg#roboto-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-italic.eot');
  src: local('Roboto Italic'), local('Roboto-Italic'),
  url('../assets/fonts/roboto-italic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/roboto-italic.woff') format('woff'),
  url('../assets/fonts/roboto-italic.woff2') format('woff2'),
  url('../assets/fonts/roboto-italic.ttf') format('truetype'),
  url('../assets/fonts/roboto-italic.svg#roboto-italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../assets/fonts/roboto-medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/roboto-medium.woff') format('woff'),
  url('../assets/fonts/roboto-medium.woff2') format('woff2'),
  url('../assets/fonts/roboto-medium.ttf') format('truetype'),
  url('../assets/fonts/roboto-medium.svg#roboto-medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-medium-italic.eot');
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
  url('../assets/fonts/roboto-medium-italic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/roboto-medium-italic.woff') format('woff'),
  url('../assets/fonts/roboto-medium-italic.woff2') format('woff2'),
  url('../assets/fonts/roboto-medium-italic.ttf') format('truetype'),
  url('../assets/fonts/roboto-medium-italic.svg#roboto-medium-italic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-bold.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../assets/fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/roboto-bold.woff') format('woff'),
  url('../assets/fonts/roboto-bold.woff2') format('woff2'),
  url('../assets/fonts/roboto-bold.ttf') format('truetype'),
  url('../assets/fonts/roboto-bold.svg#roboto-bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-bold-italic.eot');
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
  url('../assets/fonts/roboto-bold-italic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/roboto-bold-italic.woff') format('woff'),
  url('../assets/fonts/roboto-bold-italic.woff2') format('woff2'),
  url('../assets/fonts/roboto-bold-italic.ttf') format('truetype'),
  url('../assets/fonts/roboto-bold-italic.svg#roboto-bold-italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

/*.page-header {*/
  /*border: 1px solid white;*/
/*}*/

/*.page-header .logo {*/
  /*border: 2px solid black;*/
/*}*/

/*.page-header-nav {*/
  /*border: 2px solid yellow;*/
/*}*/

/*.page-header-interaction {*/
  /*border: 2px solid blue;*/
/*}*/

body {
  background-color: #849d8f;

  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

h2 {
  /* font-weight: bold; <--- default => Roboto Bold */
  font-size: 35px;
  line-height: 41px;
}

a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a:hover, a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
  cursor: pointer;
}

.btn-red {
  color: #ffffff;
  background-image: linear-gradient(to bottom, rgb(242, 104, 67), rgb(202, 56, 36));
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
  border: none;

  display: inline-block;
  vertical-align: center;
}

.btn-red:hover {
  border: none;
  background-image: linear-gradient(to bottom, rgb(242, 104, 67), rgb(231, 74, 53));
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.004);
  color: #fefefe;
}

.btn-red:active {
  background-image: linear-gradient(to bottom, #d74531, #e1613e);
  box-shadow: inset 0 2px 2px 0 #942718;
  color: #fceeec;
}

.btn-x1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  border-radius: 24px;
  padding: 12px 22px;
}

.btn-x2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;

  border-radius: 32px;
  padding: 8px 38px;
  -moz-transform: matrix(1.04013375779322, 0, 0, 1.04013375779322, 0, 0);
  -webkit-transform: matrix(1.04013375779322, 0, 0, 1.04013375779322, 0, 0);
  -ms-transform: matrix(1.04013375779322, 0, 0, 1.04013375779322, 0, 0);

  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.page-header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header-nav li {
  margin-left: 25px;
}

.page-header-nav a {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.page-header-interaction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*width: 262px;*/

  margin-left: auto;
  position: relative;
}

.page-header-interaction a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.contact-info .time {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.contact-info .phone {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

.contact-info {
  text-align: right;

  position: absolute;
  top: 50px;
  right: 0;
}

.breadcrumbs{
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs a {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.slider {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.filters, .filters select {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filters .title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.offer-item p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.offer-item h2 {
  margin: 0;
}

.offer-raspberry {
  background: #849d8f url('../img/raspberry-bg.png') no-repeat center center;
}

.offer-chocolate {
  background: #849d8f url('../img/chocolate-bg.png') no-repeat center center;
}

.offer-raspberry, .offer-chocolate {
  padding: 20px;
  border: none;
  border-radius: 15px;
  background-size: cover;
}

.catalog-item .price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
}

.catalog-item .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.catalog-item {
  position: relative
}

.hits .catalog-item:before {
  content: '';
  position: absolute;
  background-image: url('../img/hit.png');
  background-repeat: no-repeat;
  background-position: center center;

  top: 0;
  left: 0;

  width: 61px;
  height: 61px;
}

.seo {
  color: #323232;
}

.seo h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.seo-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.news-and-mailing {
  color: #5a5a5a;
}

.news h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.news a {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #353535;
  border-bottom: 2px solid #353535;

  background-color: rgba(255, 255, 255, 0.8);
}

.mailing p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.mailing .btn-red, .map-info .btn-red {
  color: #fefefe;
}

.map {
  background-color: #849d8f;
  background: url('../img/pin.png') no-repeat 265px 140px,
  url('../img/map.png') no-repeat 50% 50%;
  width: 1200px;
  height: 430px;

  position: relative;
}

.map-info {
  color: #323232;

  background-color: #ffffff;
  padding: 30px 25px;
  border-radius: 15px;

  position: absolute;
  top: 63px;
  right: 59px;
}

.map-info p {
  margin: 0;
}

.map-info .address-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.map-info .address-value {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.map-info .phone-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.map-info .phone-value {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.map-info .phone-time {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

.page-footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer-nav a {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.page-footer-nav .heart {
  font-weight: bold;
}

.page-footer-copyright, .page-footer-copyright a {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}


