<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>426486F5-35B8-40B2-A850-71A75ECA0B3E</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1187, 660}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>6234A66D-40E6-471C-AA56-1EEF797BC34D</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1187, 660}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>6D154CCC-712E-4176-AA11-65AA6A3DC570</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1187, 660}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>A0FA9D13-E029-4FF7-B9B0-7F5EF54B882B</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1187, 660}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>A5E5ED6D-3EEE-4773-BB10-D77FA98B466A</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1187, 660}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>B9694172-E918-44C8-AA4D-AB0904144BAE</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 146.47058823530264}, {698.23529411764548, 388.23529411764127}}</string>
		<key>Zoom Factor</key>
		<real>1.7</real>
	</dict>
	<key>Bottombar Visible</key>
	<false/>
	<key>EF09D197-38D7-448F-9B9E-6DD94C12F341</key>
	<dict>
		<key>Visible Rect</key>
		<string>{{0, 0}, {1187, 660}}</string>
		<key>Zoom Factor</key>
		<real>1</real>
	</dict>
	<key>Expanded Ideaspaces For Section DDB68B6D-C695-4CEB-88BC-C116E6B44698</key>
	<array>
		<string>A0FA9D13-E029-4FF7-B9B0-7F5EF54B882B</string>
	</array>
	<key>Expanded Sections</key>
	<array/>
	<key>Last Viewed Ideaspaces For Section DDB68B6D-C695-4CEB-88BC-C116E6B44698</key>
	<array>
		<string>426486F5-35B8-40B2-A850-71A75ECA0B3E</string>
	</array>
	<key>Last Viewed Section</key>
	<array>
		<string>DDB68B6D-C695-4CEB-88BC-C116E6B44698</string>
	</array>
	<key>Normal Window Layout</key>
	<string>{{0, 0}, {1366, 745}}</string>
	<key>Organizer Visible</key>
	<true/>
	<key>Organizer Width</key>
	<integer>178</integer>
	<key>Primary Asset UUID Last Viewed</key>
	<string>426486F5-35B8-40B2-A850-71A75ECA0B3E</string>
	<key>Scroll Position For Section DDB68B6D-C695-4CEB-88BC-C116E6B44698</key>
	<string>{0, 0}</string>
	<key>Secondary View Vertical</key>
	<true/>
	<key>Secondary View Visible</key>
	<false/>
	<key>Sections Visible</key>
	<false/>
	<key>Toolbar Visible</key>
	<true/>
</dict>
</plist>
